*{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 18, 168);
}

.container{
    display: flex;
    width: 100%;
    gap: 10px; 
    padding: 10px;
}

section{
    background-color: white;   
}

.tools-board{
    width: 200px;
    padding: 15px 22px 0;
}

.tools-board .row{
    margin-bottom: 20px;
}

.row .options{
    list-style: none;
    margin: 10px 0 0 5px;
}

.row .options .option{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.option:is(:hover, .active) img{
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}

.option :where(span, label){
    color: rgb(92, 92, 92);
    padding-left: 10px;
    cursor: pointer;
}

.option:is(:hover, .active):where(span, label){
    color: #4A98F7;
}

.option #fill-color{
    height: 14px;
    width: 14px;
    cursor: pointer;
}

.option #size-slider{
    width: 100%;
    height: 5px;
    margin-top: 10px;
}

.colors .options{
    display: flex;
    justify-content: space-between;
}

.colors .option{
    height: 20px;
    width: 20px;
    background: red;
    border-radius: 50%;
    margin-top: 3px;
    position: relative;
}

.colors .option:nth-child(1){
    background-color: #fff;
    border: 1px solid #bfbfbf;
}

.colors .option:nth-child(2){
    background-color: #000;
}

.colors .option:nth-child(3){
    background-color: #ff0000;
}

.colors .option:nth-child(4){
    background-color: #00fd4c;
}

.colors .option:nth-child(5){
    background-color: #4A98F7;
}

.colors .option.selected::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid white;
    transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before{
    border-color: #ccc;
}

.option #color-picker{
    opacity: 0;
    cursor: pointer;
}

.buttons button{
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 0.9rem;
    margin-bottom: 13px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="range"] {
    accent-color: #4A98F7;
    background: #c5c5c5;
}

.buttons .clear-canvas{
    color: #6c6c6c;
    border: 1px solid #6c6c6c;
    transform: all 0.3 ease;
}

.buttons .clear-canvas:hover{
    color: #fff;
    background: #6c6c6c;
}

.buttons .save-img{
    background: #4A98F7;
    border: 1px solid #4A98F7;
}

#fill-color:checked ~ label{
    color: #4A98F7;
}

.drawing-board{
    flex: 1;
}

.drawing-board canvas{
    width: 100%;
    height: 100%;
}

img{
    width: 20px;
    height: 20px;
}